estructura_anterior/
bibliografia_anterior/
.DS_Store
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdy
*.tdo
*.pyg
*.synctex(busy)
*.synctex.gz(busy)
*.pdf
